{% extends 'base.html.twig' %}

{% block title %}
Pojawił się błąd: {{ status_text }}
{% endblock %}
{% block body %} 
    <div id="wrapper">
        <h1><span class="glyphicon glyphicon-exclamation-sign wykrzykacz" aria-hidden="true" ></span> {{ status_code }} Błąd</h1>
        <h2>Serwer mówi "<span class="wykrzykacz">{{ status_text }}</span>".</h2>

    </div>
{% endblock %}

