<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Pojawił się błąd: {{ status_text }}</title>
    </head>
    <body>
        <h1>Błąd</h1>
        <h2>Serwer zwrócił "{{ status_code }} {{ status_text }}".</h2>

        <div>
            
        </div>
    </body>
</html>
