{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>Ta podstrona przeznaczona jes dla zalogowanych użytkowników</h1>
        <p>test test - zaślepka</p>
        
    </div>
{% endblock %}

