{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>Nasza oferta</h1>
        <p>Hotel <strong>Nocleq</strong> orefuje usługi noclegu wraz z szerokim wachlarzem 
		 wysokiej jakości
		 usług towarzysząch.
         Dzięki ich komplementarności unikniecie Państwo wyjść poza teren hotelu.
        
        Z usług towarzyszących mogą korzystać nasi Goście wraz z osobami towrzyszącymi.</p>
        <p>Ze wszystkich okien hotelu rozciąg się znakomity widok na inne okna hotelu.</p>
        <h1>Jak rezerwować?</h1>
        <p>Rezerwować pokój mogą osoby posiadające konto w nieniejszym systemie</p>
        <p>Założenie konta jest bezpłatne i bezbolesne. Trwa okoł 1 minuty.</p>
        <p>Po założeniu konta należy zalogować się do systemu i wywołać hiperłącze "Wolne Pokoje".</p>
        <p>Po wybraniu parametrów pokoju i daty pobytu ukaże się lista pokoi spełniających Państwa oczekiwania</p>
        <p>Rezerwacji dokonuje się po kliknięciu "Rezerwuj" przy wybranym pokoju</p>
        <h1>Po co rezerwować?</h1>
        <p>Dzięki rezerwacji unikną Państwo dość nieprzyjemnej sytuacji braku możliwości nocowania w hotelu z powodu braku miesc?</p>
        
    </div>
{% endblock %}
