{% extends 'base.html.twig' %} 

{% block title %}{% if title is defined %}{{ title }} - {% endif %}{{ parent() }}{% endblock %}


{% block body %}
    {% if title is defined %}<h1>{{ title }}</h1>{% endif %}
    {% include 'BaseCRUD/form.html.twig' with { 'form': form } %}
{% endblock %}